<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <!-- extra, overriding theme files -->
    <link rel="stylesheet" href="bower_components/angular-material/themes/light-blue-dark-theme.css">
    <link rel="stylesheet" href="style.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/ryanmullins-angular-hammer/angular.hammer.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="YourApp" ng-controller="AppCtrl" md-theme="light-blue-dark">
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" style="width: 30%" md-component-id="left">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Settings</h1>
    </md-toolbar>
    <md-content flex class="md-padding" ng-controller="LeftCtrl">
        <p>
            This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
        </p>
    </md-content>
</md-sidenav>
<div layout="column" layout-fill tabIndex="-1" role="main">
<md-toolbar hm-swiperight="toggleSideNav()">
    <h1 class="md-toolbar-tools">
        <md-button class="md-fab md-primary" aria-label="refresh" ng-click="toggleSideNav()">
            <md-tooltip>
                Settings
            </md-tooltip>
            <md-icon icon="img/icon/ic_more_vert_24px.svg">
            </md-icon>
        </md-button>
        <span flex>Log.io</span>
    </h1>
</md-toolbar>
<md-content ng-view md-scroll-y flex class="md-padding">
    <div ng-repeat="message in getMessages() | reverse">
            <span class="stream" ng-class="getColorForStream(message.stream)">{{message.stream}}</span>
            <span class="node color3">{{message.node.name}}</span>
            <span class="message">{{message.message}}</span>
    </div>
</md-content>
    </div>
</body>
</html>