md-toolbar .md-toolbar-tools .md-button, .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
    box-shadow: none;
    border: none;
    transform: none;
    -webkit-transform: none;
}
md-toolbar, .md-toolbar-tools {
    height: 40px;
    min-height: 40px;
}

.md-body {
    /*background-color: dimgrey;*/
    padding-top: 10px;
}

.message{
    color: #0c0;
}

.color0{color:antiquewhite;}
.color1{color:#1f77b4;}
.color2{color:#aec7e8;}
.color3{color:#ff7f0e;}
.color4{color:#ffbb78;}
.color5{color:#2ca02c;}
.color6{color:#98df8a;}
.color7{color:#d62728;}
.color8{color:#ff9896;}
.color9{color:#9467bd;}
.color10{color:#c5b0d5;}
.color11{color:#8c564b;}
.color12{color:#c49c94;}
.color13{color:#e377c2;}
.color14{color:#f7b6d2;}
.color15{color:#7f7f7f;}
.color16{color:#c7c7c7;}
.color17{color:#bcbd22;}
.color18{color:#dbdb8d;}
.color19{color:#17becf;}
.color20{color:#9edae5;}
